-# if @site && !@site.new_record?
%li.nav-item
  = active_link_to "/admin/sites/", class: "sidebar-menu-item" do
    = t('comfy.admin.cms.base.sites')
%li.nav-item
  = active_link_to "/admin/sites/#{@site.id}/layouts", class: "sidebar-menu-item" do
    = t('comfy.admin.cms.base.layouts')
%li.nav-item
  = active_link_to "/admin/sites/#{@site.id}/pages", class: "sidebar-menu-item" do
    = t('comfy.admin.cms.base.pages')
%li.nav-item
  = active_link_to "/admin/sites/#{@site.id}/snippets", class: "sidebar-menu-item" do
    = t('comfy.admin.cms.base.snippets')
%li.nav-item
  -# unless is_active_link?(comfy_admin_cms_site_files_path(@site))
    %a.cms-files-open-modal{href: comfy_admin_cms_site_files_path(@site), title: "Open library"}
      %i.fas.fa-bars
  = active_link_to "/admin/sites/#{@site.id}/files", class: "sidebar-menu-item" do
    = t('comfy.admin.cms.base.files')
= cms_hook :navigation
= comfy_admin_partial "comfy/admin/cms/partials/navigation_inner"

-# if @site && !@site.new_record?
  %li.nav-item
    = active_link_to comfy_admin_cms_site_layouts_path(@site), class: "sidebar-menu-item" do
      = t('comfy.admin.cms.base.layouts')
  %li.nav-item
    = active_link_to comfy_admin_cms_site_pages_path(@site), class: "sidebar-menu-item" do
      = t('comfy.admin.cms.base.pages')
  %li.nav-item
    = active_link_to comfy_admin_cms_site_snippets_path(@site), class: "sidebar-menu-item" do
      = t('comfy.admin.cms.base.snippets')
  %li.nav-item
    -# unless is_active_link?(comfy_admin_cms_site_files_path(@site))
      %a.cms-files-open-modal{href: comfy_admin_cms_site_files_path(@site), title: "Open library"}
        %i.fas.fa-bars
    = active_link_to comfy_admin_cms_site_files_path(@site), class: "sidebar-menu-item" do